# APP
HOST=localhost
PORT=3001

# no trailing slash
FE_URL=http://localhost:3002

# SCOUT microservice (TCP)
SCOUT_HOST=localhost
SCOUT_PORT=3010

# Google Maps (used in e2e tests)
GOOGLE_API_KEY=

# E2E tests
SERVER_URL=http://localhost:3001

# SENTRY
SENTRY_DNS=